@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  font-family: "Jua", sans-serif;
}

h1 {
  text-align: center;
  margin: 30px 0px;
}

/*  말줄임표 css */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* 한줄로표현하기 line-clamp  */
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}